extends layout

block meta
  meta(name='description', content=description)

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1= title
  each issue in issues
    h2
      a(href='/' + issue.number)= issue.title
