body {
    min-width: 200px;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px;

    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
    color: #333333;
}

@media screen and (max-width: 768px) {
    body {
        padding-left:0;
        padding-right:0;
    }
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}

.clear {
    clear: both;
}
