body {
    min-width: 200px;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}
